<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>信用查询报告</title>


</head>
<body>
<div class="license-agreement" th:fragment="licenseAgreement">
    <div class="license-agreement-box">
        <div class="license-agreement-contain">
            个人数据查询授权书
            <br/>
            <br/>
            <br/>
            重要提示：
            <br/>
            <br/>
            尊敬的客户：为了维护您的权益，请在签署本授权书前，仔细阅读本授权书各条款，关注您在授权书中的权利、义务。
            <br/>
            <br/>
            本协议一经在 北京联杉科技有限公司 征信查询产品相关页面上勾选 “同意”按钮，即表明申请人已经先行认真阅读了本协议的全部内容，完全理解和认可本协议的全部内容且无异议。本协议于您点击“查询”按钮之时自动生效，并发生法律效力
            <br/>
            <br/>
            北京联杉科技有限公司公司：
            一、本人同意并不可撤销地授权：贵公司按照国家相关规定采集并向信息服务机构、第三方风控平台、互联网金融数据共享平台等机构提供本人个人信息和包括信贷信息在内的资信信息。
            <br/>
            <br/>
            二、本人同意并不可撤销地授权：贵公司可以根据国家有关规定，通过信息服务机构、银行、财务机构、第三方风控平台、互联网金融数据共享联盟平台及其他查询服务提供机构查询、打印、保存本人个人信息和包括信贷信息在内的资信信息。
            <br/>
            <br/>
            三、为更好、更完整地展现本人的资信情况，本人同意并授权：查询服务提供机构及其关联公司及其指定的第三方可留存、整理及加工本次获取的本人信息用于查询服务提供机构及其关联公司及其指定的第三方为本人提供的其他服务中。
            <br/>
            <br/>
            四、为更好地为本人提供服务，本人同意并授权：查询服务机构可与其合作的第三方进行联合研究，并可将通过本授权书获得的本人信息投入到该等联合研究中。但查询服务机构与其合作的第三方在开展上述联合研究前，应要求其合作的第三方对在联合研究中所获取的本人信息予以保密。
            <br/>
            <br/>
            <br/>
            五、授权用途包括：
            <br/>
            <br/>
            （一）使用征信查询的各类风险检测服务，包括但不限于黑名单风险检测、通讯录风险检测、运营商风险检测服务，评估本人资信风险状况。
            <br/>
            <br/>
            （二）根据本人风险检测结果进行贷款产品推荐。
            <br/>
            <br/>
            （三）其他依法许可的查询事项。
            <br/>
            <br/>
            六、本人同意，在本人贵公司特定服务时，贵公司可根据业务需要查询本人社保、公积金、银行卡流水、贷款、理财、信用卡业务等具体反映本人资信、资质状况的信息。
            <br/>
            <br/>
            本人声明，贵公司已经依法向本人提示了相关条款，本人已经完全知悉并充分理解本授权书条款的内容及相应的法律后果，并愿意接受本授权书条款的约定，非经贵公司书面同意本授权书不可撤销。
        </div>
        <div class="t-c">
            <button id="close" type="button">关 闭</button>
        </div>
    </div>

</div>
<script  th:inline="javascript">
    /*<![CDATA[*/
    $(function () {

    })
    /*]]>*/
</script>
</body>
</html>