<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />

    <title>支付失败</title>
    <link rel="stylesheet"  th:href="@{/css/weui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/example.css}"/>
    <link rel="stylesheet" th:href="@{/css/contract.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
    <script type="text/javascript" th:src="@{/js/weui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jweixin-1.0.0.js}"></script>
</head>
<body>
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">支付失败</h2>
            <p class="weui-msg__desc">请核对信息再次尝试</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="javascript:void(0);" class="weui-footer__link"></a>
                </p>
                <p class="weui-footer__text"></p>
            </div>
        </div>
    </div>

    <script th:inline="javascript">



        /*<![CDATA[*/

        window.setTimeout(closeWindow,2000);
        function closeWindow(){
            wx.closeWindow();
        }

        /*]]>*/
    </script>
</body>
</html>