<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>信用查询报告</title>
    <script type="text/javascript" th:src="@{/js/html-rem.js}"></script>

    <link rel="stylesheet"  th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet"  th:href="@{/css/shareResult.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
    <script type="text/javascript" th:src="@{/js/circle-progress.js}"></script>

    <style>

    </style>
</head>
<body>
<div class="container">
    <div class="warrper">
        <div class="index-bg w100">
            <img class="w100" th:src="@{/image/share-bg.png}" alt=""/>
            <div class="share-info">
                <div class="share-title">
                    您的朋友，<span>刘先生</span>，新蜂信用分为：
                </div>
                <div class="circle-rate-box"><strong></strong></div>
                <div class="credit-icon"><img th:src="@{/image/credit-icon.png}" alt=""/></div>
                <div class="info t-c">
                    <p>分数越高，申贷通过率越高哦~</p>
                    <p class="pb30">深度检测拒贷风险 及时扫清申贷障碍</p>
                </div>
            </div>
        </div>
        <div class="btn-box w100">
            <button type="button" class="w100" id="queryBtn"><img th:src="@{/image/query-my-credit-btn.png}" alt=""/></button>
            <button type="button" class="w100" id="applyVip"><img th:src="@{/image/vip-btn.png}" alt=""/></button>
        </div>
        <div class="warn-info t-c">新蜂x小二为所有会员提供x信用分查询服务</div>


    </div>
</div>
<script  th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        var totalScore = Math.floor(Math.random() * (100 - 0)) + 0;
        var htmlSize = '';
        var oWidth = document.body.clientWidth || document.documentElement.clientWidth;
        htmlSize = oWidth/750*100;
        $('.circle-rate-box').circleProgress({
            value: totalScore/100, //进度条进度
            size:parseInt(htmlSize*1.55), //直径
            thickness:10, //圆环宽度
            startAngle: Math.PI / 6 * 1, //起点
            fill:{
                color:'#ff5c11' //填充色
            },
            emptyFill:'#fff'  //空圆弧的颜色

        }).on('circle-animation-progress', function(event, progress) {
            //进度条显示内容
            $(this).find('strong').html(parseInt(totalScore * progress));
        });
    })
    /*]]>*/
</script>
</body>
</html>