<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>注册</title>
    <link rel="stylesheet"  th:href="@{/css/weui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/example.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
    <script type="text/javascript" th:src="@{/js/weui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jweixin-1.0.0.js}"></script>

</head>
<body>
<form method="post" th:action="@{/user/submitRegister}" id="form" name="form">

    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell_hd"></div>
            <div class="weui-cell_bd weui-cell_primary">
                <input class="weui-input" id="username" type="text" name="name" placeholder="请输入姓名" />
            </div>
        </div>
    </div>

    <div id="mobile-part" style="display:block;">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell_hd"></div>
                <div class="weui-cell_bd weui-cell_primary">
                    <input class="weui-input" type="text" pattern="[0-9]*"  name="tel" id="tel" placeholder="请输入11位手机号" />
                </div>
            </div>
        </div>
    </div>

    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell_hd"></div>
            <div class="weui-cell_bd weui-cell_primary">
                <input class="weui-input"  type="text" name="captcha" maxlength="4" pattern="[0-9]*" placeholder="请输入您收到的验证码" />
            </div>
            <div class="weui-cell_ft">
                <a type="button" class="weui-btn weui-btn_mini weui-btn_primary" id="sendMessageBtn" onclick="timeout(this);" >发送验证码</a>
            </div>
        </div>
    </div>


    <div class="weui-cell">
        <div class="weui-cell__bd">
            <div class="weui_btn_area">
                <input type="button" id="submitButton"  class="weui-btn weui-btn_primary"   value="注册 "/>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    /*<![CDATA[*/
    var path ="/"+window.location.pathname.split("/")[1];

    $("#submitButton").click(function () {

        $("#submitButton").attr("disabled", true);

        var name =  $("#username").val();
       if(name ==null || name.trim() == ""){
           weui.alert("请输入姓名");
           return ;
       }

        var loading = weui.loading("注册中");

        $.ajax({
            type: 'POST',
            dataType    : 'json',
            url: path+'/user/submitRegister',
            data:$("#form").serialize(),
            success: function(data){
                $("#submitButton").removeAttr("disabled");
                loading.hide();
                if (data.resultCode === '0000') {
                    weui.alert("注册成功");

                    window.setTimeout(closeWindow,2000);

                } else {
                    weui.alert(data.resultMsg);
                    return false;
                }
            },
            error: function(xhr, type){
                weui.alert("系统繁忙，稍后再试!");
            }
        });
    });


    function timeout(dom){

        var isOk = $("#sendMessageBtn").attr("disabled");


        if(isOk != null && isOk== 'disabled'){
            return ;
        }


        var tel =  $("#tel").val();
        if(tel ==null || tel.trim() == ""){
            weui.alert("请输入手机号");
            return ;
        }

        $("#sendMessageBtn").attr("disabled", true);
        //开始倒计时
        countDown(dom);
        //ajax发送验证码
        sendRegSMS();
    }

    function sendRegSMS(){
        var loading = weui.loading('发送验证码...');
        var tel=$("#tel").val();
        $.ajax({
            type: 'POST',
            dataType    : 'json',
            url: path+'/user/sendRegSMS',
            data:{"tel":tel},
            success: function(res){
                $("#sendMessageBtn").removeAttr("disabled");
                if (res.resultCode == '0000') {
                    loading.hide();
                    weui.alert("注册手机验证码发送成功");

                }
            },
            error: function(xhr, type){
                loading.hide();
                weui.alert("系统繁忙，稍后再试!");
            }
        });
    }
    function countDown(dom){
        var sTime = 60,     //倒计时的时间
                timer = null;

        clearTimeout(timer);
        timer = setTimeout(function () {


            if(sTime == 0){
                dom.removeAttribute('disabled');
                dom.innerHTML = "发送验证码";
                clearTimeout(timer);
                return false;
            }else{
                sTime--;
                setTimeout(arguments.callee, 1000);
            }
            dom.innerHTML = "("+sTime+"/60s)";
        },1000);
    }


    function closeWindow(){
        wx.closeWindow();
    }

    /*]]>*/
</script>
</body>
</html>