<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


    <title>个人信息</title>
    <link rel="stylesheet"  th:href="@{/css/weui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/example.css}"/>
    <link rel="stylesheet" th:href="@{/css/contract.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
    <script type="text/javascript" th:src="@{/js/weui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jweixin-1.0.0.js}"></script>

</head>
<body>
<div class="weui-tab">
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>姓名</p>
            </div>
            <div class="weui-cell__ft" th:text="${queryBody!=null?queryBody.risk_items:''}"></div>

            <a href="javascript:void(0)" id="updateButton" class="weui-btn weui-order-btn">修改信息</a>
        </div>

    </div>
</div>
<script  th:inline="javascript">
    /*<![CDATA[*/
//    window.location.href="";

    var wxJsapiSignature=[[${wxJsapiSignature}]];
    var timestamp = wxJsapiSignature.timestamp;
    var nonceStr = wxJsapiSignature.nonceStr;
    var signature = wxJsapiSignature.signature;
    var appId = wxJsapiSignature.appId;
    console.log(wxJsapiSignature);
    // 分享配置

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: appId, // 必填，企业号的唯一标识
        timestamp: timestamp, // 必填，生成签名的时间戳
        nonceStr: nonceStr, // 必填，生成签名的随机串
        signature: signature,// 必填，签名，见附录1
        jsApiList: ["onMenuShareTimeline","onMenuShareAppMessage","onMenuShareQQ","onMenuShareWeibo","onMenuShareQZone"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });


    wx.ready(function () {
        setShare();  //定义函数
    });

    function setShare(){

        var config = {
            title: "标题",
            desc: "描述",
            link: "http://www.baidu.com",
            imgUrl: "",
            type: 'link',
            dataUrl: '',
            success: function () {
                alert('分享成功');
            },
            cancel: function () {
                alert('分享失败');
            }
        };/*分享给朋友*/
        wx.onMenuShareAppMessage(config);

        /*分享到QQ*/
        wx.onMenuShareQQ(config);

        /*分享到腾讯微博*/
        wx.onMenuShareWeibo(config);

        /*分享到QQ空间*/
        wx.onMenuShareQZone(config);

        /*分享到朋友圈*/
        wx.onMenuShareTimeline(config);
    }



    $("#updateButton").click(function(){

    });

    $("#saveButton").click(function(){

    });


    /*]]>*/
</script>
</body>
</html>