<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>信用查询报告</title>

</head>
<body>

<!--检测结果记录-->
<div class="detection-record-box detection-item4" id="" style="padding-top: 0" th:fragment ="borrowingRecord">
    <!--借贷记录-->
    <div class="detection-t detection-record-t">
        <div class="detection-title" style="padding-left: .69rem"><span>借贷记录</span></div>
    </div>
    <div class="detection-record-contain hit borrowing">
        <div class="pass-rate-box">
            <div class="pass-rate-top">
                <div class="pass-rate-l">
                    <img th:src="@{/image/down-icon.png}"  alt=""/>
                    <div class="pass-rate-desc">
                        申贷通过率 <span>降低</span>
                    </div>
                </div>
                <div class="pass-rate-r">
                    <img th:src="@{/image/down-icon.png}"  alt=""/>
                    <div class="pass-rate-desc">
                        下款速度 <span>降低</span>
                    </div>
                </div>
            </div>
            <div class="pass-rate-bottom">
                3条及一下正常还款中的借贷记录，对您的信用一般不会产生不良影响。但过多的借贷记录将影响放贷平台对您的经济状况及偿付能力的评估，从而影响申贷通过率和放款速度。
            </div>
        </div>
        <div class="warn-info-box">
            <img class="w100 warn-line" th:src="@{/image/warn-line.png}" alt=""/>
            <div class="more-warn-info">
                请保持良好的信用习惯，按需借款，及时还款。同一时间在途贷款最好不超过3笔。将对您的信用提升产生积极影响。
            </div>
            <div class="more-btn t-c active">查看更多<img class="w28 more-down" th:src="@{/image/more.png}"  alt=""/></div>
        </div>
        <div class="detection-record-detail borrowing-record">
            <div class="time-list t-c">
                <div class="time-item active" data-index="detection-species-box">7天内</div>
                <div class="time-item" data-index="time-item2">1个月</div>
                <div class="time-item" data-index="time-item3">3个月+</div>
            </div>
            <div class="detection-species-box time-item1 active">
                <div class="hit-account">
                    <!--总数-->
                    <div class="total-hit">
                        <div class="species-desc">
                            不良命中：<span class="colorY" th:text="${sevenDays.phoneCount+sevenDays.idCardCount}" ></span>
                        </div>
                        <div class="pipe">
                            <div class="inner-pipe"></div>
                        </div>
                        <div class="species-desc-item species-id-item" >
                            身份证命中：<span th:text="${sevenDays.idCardCount}"></span>
                        </div>
                        <div class="species-desc-item species-tel-item" >
                            手机号命中：<span th:text="${sevenDays.phoneCount}"></span>
                        </div>
                    </div>
                    <div th:each="blogId,key : ${sevenDays}">
                        <div class="hit-species" th:if="${key.current.key} !='phoneCount' and ${key.current.key} !='idCardCount'"  th:attr="data-num=${key.current.value}" >
                            <div class="pipe colorY1"></div>
                            <div class="species-desc">
                                <span class="" th:text="${#strings.replace(key.current.key,'sevenDay','')}"></span>：<span class="" th:text="${key.current.value}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detection-species-box time-item2">
                <div class="hit-account">
                    <!--黑名单只有总数-->

                    <div class="total-hit">
                        <div class="species-desc">
                            不良命中：<span class="colorY" th:text="${oneMonth.phoneCount+oneMonth.idCardCount}"></span>
                        </div>
                        <div class="pipe">
                            <div class="inner-pipe"></div>
                        </div>
                        <div class="species-desc-item species-id-item" >
                            身份证命中：<span th:text="${oneMonth.idCardCount}"></span>
                        </div>
                        <div class="species-desc-item species-tel-item" >
                            手机号命中：<span th:text="${oneMonth.phoneCount}"></span>
                        </div>
                    </div>

                    <div th:each="blogId,key : ${oneMonth}">
                        <div class="hit-species" th:if="${key.current.key} !='phoneCount' and ${key.current.key} !='idCardCount'"  th:attr="data-num=${key.current.value}" >
                            <div class="pipe colorY1"></div>
                            <div class="species-desc">
                                <span class="" th:text="${#strings.replace(key.current.key,'oneMonth','')}"></span>：<span class="" th:text="${key.current.value}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detection-species-box time-item3">
                <div class="hit-account">
                    <!--黑名单只有总数-->
                    <div class="total-hit">
                        <div class="species-desc">
                            不良命中：<span class="colorY" th:text="${threeMonth.phoneCount+threeMonth.idCardCount}"></span>
                        </div>
                        <div class="pipe">
                            <div class="inner-pipe"></div>
                        </div>
                        <div class="species-desc-item species-id-item">
                            身份证命中：<span th:text="${threeMonth.idCardCount}"></span>
                        </div>
                        <div class="species-desc-item species-tel-item" >
                            手机号命中：<span th:text="${threeMonth.phoneCount}"></span>
                        </div>
                    </div>


                    <div th:each="blogId,key : ${threeMonth}">
                        <div class="hit-species" th:if="${key.current.key} !='phoneCount' and ${key.current.key} !='idCardCount'"  th:attr="data-num=${key.current.value}" >
                            <div class="pipe colorY1"></div>
                            <div class="species-desc">
                                <span class="" th:text="${#strings.replace(key.current.key,'threeMonth','')}"></span>：<span class="" th:text="${key.current.value}"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="detection-record-contain  borrowing noHit t-c">
        <img class="" th:src="@{/image/nohit-icon.png}" alt=""/>
        <div style="color:#666;text-align: left;line-height: 1.4;">哇~您的《借贷记录》没有风险命中信息哦！请保持良好的借贷习惯，将有利于持续提高您的神代成功率与下款额度。</div>
    </div>
    <script type="text/javascript" th:src="@{/js/borrowingRecord.js}"></script>

</div>

<script  th:inline="javascript">
    /*<![CDATA[*/
    $(function () {


    })
    /*]]>*/
</script>

</body>
</html>