<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>信用查询报告</title>
    <script type="text/javascript" th:src="@{/js/html-rem.js}"></script>

    <link rel="stylesheet"  th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet"  th:href="@{/css/creditDetail.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
    <script type="text/javascript" th:src="@{/js/circle-progress.js}"></script>
    <script type="text/javascript" th:src="@{/js/clipboard.js}"></script>
    <style>

    </style>
</head>
<body>
<div class="container">
    <div class="warrper">
        <div class="index-bg w100">
            <img class="w100" th:src="@{/image/credit-bg.png}" alt=""/>
            <div class="credit-info">
                <div class="fr t-r">
                    <img id="credit-rating" th:src="@{/image/you.png}" width="50%" alt=""/>
                </div>
                <div class="circle-rate-box"><strong></strong><img class="dashed-line" th:src="@{/image/line-detail.png}" alt=""/></div>
                <div class="info t-c">
                    <p id="score-desc"><i class="crown-icon"></i>哇!您的人品爆发</p>
                    <p id="sub-score-desc" style="padding: 0 10px;" class="pb30">贷款申请易通过，且额度较高哦~</p>
                </div>
                <div class="btn-box t-c">
                    <button id="share" type="button"><img th:src="@{/image/share-score.png}" alt=""/></button>
                    <button type="button" id="queryButton"><img th:src="@{/image/re-query.png}" alt=""/></button>
                </div>
                <!--注意事项-->
                <div class="attention-box">
                    <img class="w100" th:src="@{/image/attention-bg.png}" alt=""/>
                    <div class="attention-t">
                        <div class="attention-title"><span>注意事项</span></div>
                        <div class="sub-title">分数越高，申贷通过率越高</div>
                    </div>
                    <div class="attention-info">
                        <div class="attention-item mb1">
                            <div>
                                <span style="display: inline-block;width: .9rem;"><span class="num" th:text="${homeCount}"></span>家</span>
                                <span class="pl4">金融风险信息平台存在您的不良记录</span>
                            </div>
                        </div>
                        <div class="attention-item">
                            <div>
                                <span style="display: inline-block;width: .9rem;"><span class="num" th:text="${percent}"></span>%</span>
                                <span class="pl4">的放款平台申贷通过率将受到影响</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--检测结果-->
                <div class="detection-box">
                    <img class="w100" th:src="@{/image/detection-bg.png}" alt=""/>
                    <div class="detection-t">
                        <div class="detection-title"><span>检测结果</span></div>
                    </div>
                    <div class="detection-info haveHit">
                        <div class="detection-list">
                            <div class="detection-item t-c active" id="blacklist" data-index="detection-item1">
                                <!--有值添加notEmpty类 无值无notEmpty-->
                                <div th:class="${namelistRecords.size()==0?'detection-num':'detection-num notEmpty'}"  th:text="${namelistRecords.size()}" ></div>
                                <div class="detection-desc">黑名单记录</div>
                            </div>
                            <div class="detection-item t-c detection-item2"  id="overdue"  data-index="detection-item2">
                                <div  th:class="${overdueRecords.size()==0?'detection-num':'detection-num notEmpty'}" th:text="${overdueRecords.size()}"></div>
                                <div class="detection-desc">逾期记录</div>
                            </div>
                            <div class="detection-item t-c detection-item3" id="judicial"   data-index="detection-item3">
                                <!--有值添加notEmpty类 无值无notEmpty-->
                                <div th:class="${courtInfoList.size()==0?'detection-num':'detection-num notEmpty'}"  th:text="${courtInfoList.size()}" ></div>
                                <div class="detection-desc">司法记录</div>
                            </div>
                        </div>
                        <div class="detection-list">
                            <div class="detection-item t-c detection-item4" id="borrowing" data-index="detection-item4">
                                <div th:class="${loanRecords.size()==0?'detection-num':'detection-num notEmpty'}" th:text="${loanRecords.size()}">1</div>
                                <div class="detection-desc">借贷记录</div>
                            </div>
                            <div class="detection-item t-c detection-item5" id="identity" data-index="detection-item5">
                                <div th:class="${identityRecords.size()==0?'detection-num':'detection-num notEmpty'}"  th:text="${identityRecords.size()}"></div>
                                <div class="detection-desc">身份记录</div>
                            </div>
                            <div class="detection-item t-c detection-item6" id="risk" data-index="detection-item6">
                                <div class="detection-num">0</div>
                                <div class="detection-desc">关联风险</div>
                            </div>
                        </div>
                    </div>
                    <div class="detection-info allNoHit t-c">
                        <img class="" th:src="@{/image/nohit-icon.png}" alt=""/>
                        <div style="color:#666;text-align: left;line-height: 1.4;font-size: .24rem">哇～您的目前没有任何负面信息哦！请继续保持良好的借贷习惯，将有利于持续提高您的申贷成功率与下款额度。</div>
                    </div>
                </div>
                <!--检测结果记录-->
                <div class="detection-record-b" th:if="${hasData}">
                    <div class="detection-record-box detection-item1 active" id="" >
                        <!--默认黑名单记录-->
                        <div class="detection-t detection-record-t">
                            <div class="detection-title" style="padding-left: .69rem"><span>黑名单记录</span></div>
                        </div>
                        <div class="detection-record-contain blacklist hit">
                            <div class="pass-rate-box">
                                <div class="pass-rate-top">
                                    <div class="pass-rate-l">
                                        <img th:src="@{/image/down-icon.png}"  alt=""/>
                                        <div class="pass-rate-desc">
                                            申贷通过率 <span>大幅降低</span>
                                        </div>
                                    </div>
                                    <div class="pass-rate-r">
                                        <img th:src="@{/image/down-icon.png}"  alt=""/>
                                        <div class="pass-rate-desc">
                                            下款速度 <span>大幅降低</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="pass-rate-bottom">
                                    存在严重逾期等失信行为将可能被平台列入黑名单。大多数平台在获知您的此类记录时，会直接拒绝您的借款申请。
                                </div>
                            </div>
                            <div class="warn-info-box">
                                <img class="w100 warn-line" th:src="@{/image/warn-line.png}" alt=""/>
                                <div class="more-warn-info">
                                    由于不良记录的共享范围有限，您可以尝试其他放款机构，但是需要注意申请的节奏，切勿频繁申请，以免引起信用恶化。
                                </div>
                                <div class="more-btn t-c active">查看更多<img class="w28 more-down" th:src="@{/image/more.png}"  alt=""/></div>
                            </div>
                            <div class="detection-record-detail" >
                                <div class="detection-species-box" style="padding-top:0;">
                                    <div class="hit-detail" style="padding-top:0;">
                                        <div class="hit-detail-item" th:each="nameList: ${namelistRecords}">
                                            <div class="hit-item-title">
                                                <span th:text="${nameList.description}"></span>
                                                <img class="hit-down" th:src="@{/image/more.png}" alt=""/>
                                            </div>
                                            <div class="hit-item-info">
                                                <p>描述：<span th:text="${nameList.description}"></span></p>
                                                <p>风险类型：<span th:text="${nameList.fraudType}"></span></p>
                                                <p>匹配类型：<span th:text="${nameList.hitTypeDisplayName}"></span></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="detection-record-contain blacklist noHit t-c">
                            <img class="" th:src="@{/image/nohit-icon.png}" alt=""/>
                            <div style="color:#666;text-align: left;line-height: 1.4;">哇~您的《黑名单记录》没有风险命中信息哦！请保持良好的借贷习惯，将有利于持续提高您的神代成功率与下款额度。</div>
                        </div>

                    </div>
                    <div class="detection-record-box detection-item2" th:replace ="/creditDetail/overdueRecord :: overdueRecord">逾期记录</div>
                    <div class="detection-record-box detection-item3" th:replace ="/creditDetail/judicialRecord :: judicialRecord">司法记录</div>
                    <div th:replace ="/creditDetail/borrowingRecord :: borrowingRecord" class="detection-record-box detection-item4">借贷记录</div>
                    <div class="detection-record-box detection-item5" th:replace ="/creditDetail/identityRecord :: identityRecord">身份记录</div>
                    <div class="detection-record-box detection-item6" th:replace ="/creditDetail/AssociatedRisksRecord :: AssociatedRisksRecord">关联风险</div>
                </div>

            </div>
        </div>
    </div>
    <!--分享-->
    <!--点击微信图标打开微信选择好友粘贴 id="copyLink"中的value值-->
    <div class="share-dialog-shade">
        <div class="share-dialog-box">
            <div class="share-wechart" id="copyLinkBtn"  data-clipboard-target="#copyLink" >
                <img th:src="@{/image/share-wechart.png}" alt=""/>
                <div>微信好友</div>
                <!--需要复制的值在 input的value中-->
                <input type="text" style=" opacity:0; z-index:-1" id="copyLink" value="123"/>
            </div>
            <div class="cancel-share" id="cancel-share">取消</div>
        </div>
    </div>
</div>
<script  th:inline="javascript">
    /*<![CDATA[*/

    var path = "/" + window.location.pathname.split("/")[1];
    var totalScore = [[${totalScore}]];

    var courtInfoList = [[${courtInfoList}]];
    var identityRecords = [[${identityRecords}]];
    var overdueRecords = [[${overdueRecords}]];
    var loanRecords = [[${loanRecords}]];
    var sevenDays=[[${sevenDays}]];
    var oneMonth=[[${oneMonth}]];
    var threeMonth=[[${threeMonth}]];
    var namelistRecords = [[${namelistRecords}]];
    var hasData = [[${hasData}]];


    var homeCount = [[${homeCount}]];
    var percent = [[${percent}]];

    /*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/creditDetail.js}"></script>
</body>
</html>