<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>信用查询报告</title>

</head>
<body>

<!--检测结果记录-->
<div class="detection-record-box detection-item5" id="" style="padding-top: 0" th:fragment ="identityRecord">
    <!--身份记录-->
    <div class="detection-t detection-record-t">
        <div class="detection-title" style="padding-left: .69rem"><span>身份记录</span></div>
    </div>
    <div class="detection-record-contain identity hit">
        <div class="pass-rate-box">
            <div class="pass-rate-top">
                <div class="pass-rate-l">
                    <img th:src="@{/image/down-icon.png}"  alt=""/>
                    <div class="pass-rate-desc">
                        申贷通过率 <span>降低</span>
                    </div>
                </div>
                <div class="pass-rate-r">
                    <img th:src="@{/image/down-icon.png}"  alt=""/>
                    <div class="pass-rate-desc">
                        下款速度 <span>降低</span>
                    </div>
                </div>
            </div>
            <!--<div class="pass-rate-bottom">-->
                <!--存在严重逾期等失信行为将可能被平台列入黑名单。大多数平台在获知您的此类记录时，会直接拒绝您的借款申请。-->
            <!--</div>-->
        </div>
        <div class="warn-info-box">
            <!--<img class="w100 warn-line" th:src="@{/image/warn-line.png}" alt=""/>-->
            <!--<div class="more-warn-info">-->
                <!--由于不良记录的共享范围有限，您可以尝试其他放款机构，但是需要注意申请的节奏，切勿频繁申请，以免引起信用恶化。-->
            <!--</div>-->
            <div class="more-btn t-c active" style="padding-top: 0">查看更多<img class="w28 more-down" th:src="@{/image/more.png}"  alt=""/></div>
        </div>
        <div class="detection-record-detail">
            <div class="detection-species-box" style="padding-top: 0">
                <div class="hit-account">
                    <!--黑名单只有总数-->
                    <!--<div class="total-hit">-->
                        <!--<div class="species-desc">-->
                            <!--不良命中：<span class="colorY">12个</span>-->
                        <!--</div>-->
                        <!--<div class="pipe">-->
                            <!--<div class="inner-pipe"></div>-->
                        <!--</div>-->
                        <!--<div class="species-desc-item species-id-item" data-id-num="4">-->
                            <!--身份证命中：<span>4个</span>-->
                        <!--</div>-->
                        <!--<div class="species-desc-item species-tel-item" data-tel-num="8">-->
                            <!--手机号命中：<span>8个</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="hit-species" data-num="6">-->
                        <!--<div class="pipe colorY1"></div>-->
                        <!--<div class="species-desc">-->
                            <!--小贷机构类：<span class="">6个</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="hit-species" data-num="3">-->
                        <!--<div class="pipe colorY1"></div>-->
                        <!--<div class="species-desc">-->
                            <!--银行类：<span class="">3个</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="hit-species" data-num="3">-->

                        <!--<div class="pipe colorY2"></div>-->
                        <!--<div class="species-desc">-->
                            <!--P2P机构类：<span class="">3个</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="hit-species" data-num="2">-->

                        <!--<div class="pipe colorY2"></div>-->
                        <!--<div class="species-desc">-->
                            <!--小贷机构类：<span class="">2个</span>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="hit-detail">
                    <div class="hit-detail-item" th:each="identityRecord: ${identityRecords}">
                        <div class="hit-item-title">
                            <span th:text="${identityRecord.type}"></span>
                            <img class="hit-down" th:src="@{/image/more.png}" alt=""/>
                        </div>
                        <div class="hit-item-info">
                            <p>描述：<span th:text="${identityRecord.type}"></span></p>
                            <p>详情：<span></span></p>
                            <p th:each="dataItem:${identityRecord.datas}"><span  th:text="${dataItem}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detection-record-contain identity noHit t-c">
        <img class="" th:src="@{/image/nohit-icon.png}" alt=""/>
        <div style="color:#666;text-align: left;line-height: 1.4;">哇~您的《身份记录》没有风险命中信息哦！请保持良好的借贷习惯，将有利于持续提高您的神代成功率与下款额度。</div>
    </div>
    <script type="text/javascript" th:src="@{/js/identityRecord.js}"></script>

</div>

<script  th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>

</body>
</html>