<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>信用查询报告</title>

</head>
<body>

<!--检测结果记录-->
<div class="detection-record-box detection-item3" id="" style="padding-top: 0" th:fragment ="judicialRecord">
    <!--司法记录-->
    <div class="detection-t detection-record-t">
        <div class="detection-title" style="padding-left: .69rem"><span>司法记录</span></div>
    </div>
    <div class="detection-record-contain hit judicial">
        <div class="pass-rate-box">
            <div class="pass-rate-top">
                <div class="pass-rate-l">
                    <img th:src="@{/image/down-icon.png}"  alt=""/>
                    <div class="pass-rate-desc">
                        申贷通过率 <span>降低</span>
                    </div>
                </div>
                <div class="pass-rate-r">
                    <img th:src="@{/image/down-icon.png}"  alt=""/>
                    <div class="pass-rate-desc">
                        下款速度 <span>降低</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="warn-info-box">
            <div class="more-btn t-c active" style="padding-top: 0">查看更多<img class="w28 more-down" th:src="@{/image/more.png}"  alt=""/></div>
        </div>
        <div class="detection-record-detail">
            <div class="detection-species-box"  style="padding-top: 0">
                    <!--黑名单只有总数-->
                <div class="hit-detail" style="padding-top: 0">
                    <div class="hit-detail-item" th:each="courtInfo : ${courtInfoList}">
                        <div class="hit-item-title">
                            <span  th:text="${courtInfo.fraudType}"></span>
                            <img class="hit-down" th:src="@{/image/more.png}" alt=""/>
                        </div>
                        <div class="hit-item-info">
                            <p>风险类型：<span th:text="${courtInfo.fraudType}"></span></p>
                            <p>命中属性值：<span th:text="${courtInfo.value}"></span></p>
                            <p>执行法院：<span th:text="${courtInfo.evidenceCourt}"></span></p>
                            <p>立案时间：<span th:text="${courtInfo.caseDate}"></span></p>
                            <p>被执行人履行情况：<span th:text="${courtInfo.termDuty}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detection-record-contain judicial noHit t-c">
        <img class="" th:src="@{/image/nohit-icon.png}" alt=""/>
        <div style="color:#666;text-align: left;line-height: 1.4;">哇~您的《司法记录》没有风险命中信息哦！请保持良好的借贷习惯，将有利于持续提高您的神代成功率与下款额度。</div>
    </div>
    <script type="text/javascript" th:src="@{/js/judicialRecord.js}"></script>
</div>

<script  th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>

</body>
</html>