<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>信用查询报告</title>

</head>
<body>

    <!--检测结果记录-->
    <div class="detection-record-box detection-item2" id="" style="padding-top: 0" th:fragment ="overdueRecord" >
        <!--逾期记录-->
        <div class="detection-t detection-record-t">
            <div class="detection-title" style="padding-left: .69rem"><span>逾期记录</span></div>
        </div>
        <div class="detection-record-contain overdue hit">
            <div class="pass-rate-box">
                <div class="pass-rate-top">
                    <div class="pass-rate-l">
                        <img th:src="@{/image/down-icon.png}"  alt=""/>
                        <div class="pass-rate-desc">
                            申贷通过率 <span>降低</span>
                        </div>
                    </div>
                    <div class="pass-rate-r">
                        <img th:src="@{/image/down-icon.png}"  alt=""/>
                        <div class="pass-rate-desc">
                            下款速度 <span>降低</span>
                        </div>
                    </div>
                </div>
                <div class="pass-rate-bottom">
                    发生逾期后您将被列入放贷平台的观察名单，在申请贷款时，可能需要补充更多信用相关资料，或转为人工审核。逾期严重时，将进入黑名单，一般将被放贷平台直接拒绝。通过率和额度都将受到影响。
                </div>
            </div>
            <div class="warn-info-box">
                <img class="w100 warn-line" th:src="@{/image/warn-line.png}" alt=""/>
                <div class="more-warn-info">
                    逾期类负面信息移除操作较简单，请尽快还清逾期欠款，并在后续用款过程中，保持良好使用习惯，按需借款，及时还款。
                </div>
                <div class="more-btn t-c active">查看更多<img class="w28 more-down" th:src="@{/image/more.png}"  alt=""/></div>
            </div>
            <div class="detection-record-detail">
                <div class="detection-species-box">
                    <div class="hit-account">
                        <!--黑名单只有总数-->
                        <div class="total-hit">
                            <div class="species-desc">
                                不良命中：<span class="colorY">12个</span>
                            </div>
                            <div class="pipe">
                                <div class="inner-pipe"></div>
                            </div>
                            <div class="species-desc-item species-id-item" data-id-num="4">
                                身份证命中：<span>4个</span>
                            </div>
                            <div class="species-desc-item species-tel-item" data-tel-num="8">
                                手机号命中：<span>8个</span>
                            </div>
                        </div>
                        <div class="hit-species" data-num="6">
                            <div class="pipe colorY1"></div>
                            <div class="species-desc">
                                小贷机构类：<span class="">6个</span>
                            </div>
                        </div>
                        <div class="hit-species" data-num="3">
                            <div class="pipe colorY1"></div>
                            <div class="species-desc">
                                银行类：<span class="">3个</span>
                            </div>
                        </div>
                        <div class="hit-species"  data-num="3">

                            <div class="pipe colorY2"></div>
                            <div class="species-desc">
                                P2P机构类：<span class="">3个</span>
                            </div>
                        </div>
                        <div class="hit-species"  data-num="2">

                            <div class="pipe colorY2"></div>
                            <div class="species-desc">
                                小贷机构类：<span class="">2个</span>
                            </div>
                        </div>
                    </div>
                    <div class="hit-detail">
                        <div class="hit-detail-item">
                            <div class="hit-item-title">
                                身份证命中故意违章乘车名单
                                <img class="hit-down" th:src="@{/image/more.png}" alt=""/>
                            </div>
                            <div class="hit-item-info">
                                <p>描述：<span>身份证命中故意违章乘车名单</span></p>
                                <p>风险类型：<span>故意违章停车</span></p>
                                <p>匹配类型：<span>借款人身份证</span></p>
                                <p>详情：<span>无</span></p>
                            </div>
                        </div>
                        <div class="hit-detail-item">
                            <div class="hit-item-title">
                                身份证命中欠税
                                <img class="hit-down" th:src="@{/image/more.png}" alt=""/>
                            </div>
                            <div class="hit-item-info">
                                <p>描述：<span>身份证命中故意违章乘车名单</span></p>
                                <p>风险类型：<span>故意违章停车</span></p>
                                <p>匹配类型：<span>借款人身份证</span></p>
                                <p>详情：<span>无</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="detection-record-contain overdue noHit t-c">
            <img class="" th:src="@{/image/nohit-icon.png}" alt=""/>
            <div style="color:#666;text-align: left;line-height: 1.4;">哇~您的《逾期记录》没有风险命中信息哦！请保持良好的借贷习惯，将有利于持续提高您的神代成功率与下款额度。</div>
        </div>
        <script type="text/javascript" th:src="@{/js/overdueRecord.js}"></script>
    </div>

<script  th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>

</body>
</html>