<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>信用查询报告</title>

</head>
<body>

    <!--检测结果记录-->
    <div class="detection-record-box detection-item2" id="" style="padding-top: 0" th:fragment ="overdueRecord" >
        <!--逾期记录-->
        <div class="detection-t detection-record-t">
            <div class="detection-title" style="padding-left: .69rem"><span>逾期记录</span></div>
        </div>
        <div class="detection-record-contain overdue hit">
            <div class="pass-rate-box">
                <div class="pass-rate-top">
                    <div class="pass-rate-l">
                        <img th:src="@{/image/down-icon.png}"  alt=""/>
                        <div class="pass-rate-desc">
                            申贷通过率 <span>降低</span>
                        </div>
                    </div>
                    <div class="pass-rate-r">
                        <img th:src="@{/image/down-icon.png}"  alt=""/>
                        <div class="pass-rate-desc">
                            下款速度 <span>降低</span>
                        </div>
                    </div>
                </div>
                <div class="pass-rate-bottom">
                    发生逾期后您将被列入放贷平台的观察名单，在申请贷款时，可能需要补充更多信用相关资料，或转为人工审核。逾期严重时，将进入黑名单，一般将被放贷平台直接拒绝。通过率和额度都将受到影响。
                </div>
            </div>
            <div class="warn-info-box">
                <img class="w100 warn-line" th:src="@{/image/warn-line.png}" alt=""/>
                <div class="more-warn-info">
                    逾期类负面信息移除操作较简单，请尽快还清逾期欠款，并在后续用款过程中，保持良好使用习惯，按需借款，及时还款。
                </div>
                <div class="more-btn t-c active">查看更多<img class="w28 more-down" th:src="@{/image/more.png}"  alt=""/></div>
            </div>
            <div class="detection-record-detail">
                <div class="detection-species-box" style="padding-top: 0">
                        <div class="hit-detail" style="padding-top: 0">
                            <div class="hit-detail-item" th:each="overdueRecord: ${overdueRecords}">
                                <div class="hit-item-title">
                                    <span th:text="${overdueRecord.type}"></span>
                                    <img class="hit-down" th:src="@{/image/more.png}" alt=""/>
                                </div>
                                <div class="hit-item-info">
                                    <p>描述：<span th:text="${overdueRecord.type}"></span></p>
                                    <p>详情：<span></span></p>
                                    <div th:each="dataItem:${overdueRecord.datas}">
                                        <p>开始时间：<span  th:text="${dataItem.containsKey('overdue_time')?dataItem.overdue_time:''}"></span></p>
                                        <p>金额： <span  th:text="${dataItem.containsKey('overdue_amount_range')?dataItem.overdue_amount_range:''}"></span></p>
                                        <p>时间范围：<span  th:text="${dataItem.containsKey('overdue_day_range')?dataItem.overdue_day_range:''}"></span></p>
                                        <p>次数：<span  th:text="${dataItem.containsKey('overdue_count')?dataItem.overdue_count:''}"></span></p>
                                    </div>

                                </div>
                            </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="detection-record-contain overdue noHit t-c">
            <img class="" th:src="@{/image/nohit-icon.png}" alt=""/>
            <div style="color:#666;text-align: left;line-height: 1.4;">哇~您的《逾期记录》没有风险命中信息哦！请保持良好的借贷习惯，将有利于持续提高您的神代成功率与下款额度。</div>
        </div>
        <script type="text/javascript" th:src="@{/js/overdueRecord.js}"></script>
    </div>

<script  th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>

</body>
</html>