
.contract-text-area_one{
    background-color: #247FD2;
    margin: 8px;
    border-radius: 8px;
}

.contract-text-area_two{
    background-color: #12c2ff;
    margin: 8px;
    border-radius: 8px;
}

.contract-title{
    color: #f4efff;
    font-weight:bolder;
    padding-top: 25px;
}

.contract-title_blue{
    color: #247FD2;
    font-weight:bolder;
    padding-top: 25px;
}

.contract-opr-area{
    color: #f4efff;
    font-size:inherit;
}

.contract-text-area{
    background-color: #f4efff;
    padding: 0;
    border-radius: 3px;
    border:1px solid #f4efff;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 20px;
}

.contract-text-area_white{
    background-color: #f4efff;
}

.contract-text-area_color{
    background-color: #247FD2;
    border-radius: 8px;
}

.contract-title_one{
    color: #247FD2;font-size: smaller;margin : 0;
}

.contract-title_one_content{
    background-color:#247FD2 ;margin : 0;font-size: smaller;color: #f4efff;
}

.contract-title_two{
    color: #12c2ff;font-size: smaller;margin : 0;
}

.contract-title_two_content{
    background-color:#12c2ff ;margin : 0;font-size: smaller;color: #f4efff;
}



.generate-contract-opr-area {
    color: #f4efff;
    font-size:inherit;
    padding: 10px 0px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 0;
    text-align: left;
}

.generate-contract-opr-area_color{
    color: #247FD2;
    font-size:inherit;
    padding: 10px 0px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 0;
    text-align: left;
}

.generate-label{
    width:100%;
    margin: 0px 15px;
}

.generate-label_value{
    text-align: center;
}


.order-input-normal{
    width:65px;
    height:20px;
    color: #080808;
    border-bottom:1px solid #a6a5a7; /* 下划线效果 */
    border-top:0px;
    border-left:0px;
    border-right:0px;
    background-color:transparent; /* 背景色透明 */
}

.order-input-shot{
    width:20px;
    height:20px;
    color: #080808;
    border-bottom:1px solid #a6a5a7; /* 下划线效果 */
    border-top:0px;
    border-left:0px;
    border-right:0px;
    background-color:transparent; /* 背景色透明 */
}

.order-input-long{
    width:70px;
    height:20px;
    color: #080808;
    border-bottom:1px solid #a6a5a7; /* 下划线效果 */
    border-top:0px;
    border-left:0px;
    border-right:0px;
    background-color:transparent; /* 背景色透明 */
}



.order-text-area{
    padding: 10px 5px;
    background-color: #247FD2;
}
.order-text-title{
    margin-left: 10px;
    color: #f4efff;
    font-weight: bolder;
}
.order-text-font{
    margin-left: 10px;
    color: #f4efff;
    font-size: small;
}

.order-text-custname{
    margin-right: 10px;
    color: #f4efff;
}
.order-weui-btn_mini {
    display: inline-block;
    padding: 0 1.32em;
    line-height: 2.3;
    font-size: 12px;
    background-color: #ffffff;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: #353535;
    border-radius: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: hidden;
    border-width: 1px;
}

.weui-order-btn{
    background-color: #247FD2;
}

.weui-btn-background-color-blue{
    background-color: #247FD2;
}