<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,height=device-height,  initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>请填写您的房产信息</title>
    <link rel="stylesheet"  th:href="@{/css/weui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-weui.min.css}" />
    <!--<link rel="stylesheet" th:href="@{/css/reset.css}" />-->
    <!--<link rel="stylesheet" th:href="@{/css/wx-mortgage-msg.css}" />-->
    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
    <script type="text/javascript" th:src="@{/js/weui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-weui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jweixin-1.2.0.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/wx-mortgage-common.js}"></script>-->
    <style type="text/css">
        body {
            background-color: #eeeeee;
            -webkit-tap-highlight-color:rgba(0,0,0,0);
            width: 100%;
            height: 100%;
        }
        /*css为clearfix，清除浮动*/
        .clearfix::before,
        .clearfix::after{
            content: "";
            height: 0;
            line-height: 0;
            display: block;
            visibility: hidden;
            clear: both;
        }
        .clearfix:after{clear:both;} 
        .clearfix{ 
            zoom:1;/*IE/7/6*/
        }
        .fl {
            float: left;
        }
        .fr {
            float: right;
        }
        .cent {
            /*width: 90%;*/
            /*margin: 20px auto;*/
            padding:20px;
            background-color: #fff;
        }
        .left {
            width: 20%;
            height: 88px;
            line-height: 88px;
        }
        .right {
            width: 80%;
        }
        #uploaderFiles li {
            position: relative;
        }
        #uploaderFiles li img {
            width: 77px;
            height: 77px;
            margin-bottom: 10px;
            margin-right: 10px;
        }
        #uploaderFiles li span {
            position: absolute;
            top: -10px;
            right: 10px;
            width: 20px;
            height: 20px;
            background-color: red;
        }
        
        .btn {
            height: 46px;
            width: 90%;
            margin: 40px auto 0;
            color: #FFFFFF;
            text-align: center;
            line-height: 46px;
            background-color: #3f8beb;
        }
        .weui-toast.weui-toast--forbidden.weui-toast--visible {
            width: auto;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="cent clearfix">
        <div class="left fl">
                               房产证
        </div>
        <!--<div class="right fl" id="uploader">
            <ul class="weui-uploader__files" id="uploaderFiles">
            </ul>
            <div class="weui-uploader__input-box">
                <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
            </div>
        </div>-->
        <div class="right fl" id="uploader">
            <ul class="weui-uploader__files" id="uploaderFiles">
                <!--<li class="fl">
                    <span></span>
                    <img src=""/>
                </li>-->
            </ul>
            <div class="weui-uploader__input-box" onclick="uploadPropertyImg()">
                <input id="uploaderInput" class="weui-uploader__input" type="button" />
            </div>
            <input type="hidden" id="imageIds" value="" />
        </div>

        <div id="imagePreview" class="weui-gallery">
            <span class="weui-gallery__img" id="imageUrl" onclick=""></span>
            <div class="weui-gallery__opr">
                <a href="javasprit:void(0)" class="weui-gallery__del" id="imageDel">
                    <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="btn" id="btnCheck">下一步</div>
<script th:inline="javascript">
    /*<![CDATA[*/

    var path ="/"+window.location.pathname.split("/")[1];

    $(function () {
        if($('#imageIds').val()) {
            $.ajax({
                url : path+"/special/file/getImageInfo",
                contentType : "application/json; charset=utf-8",
                type        : 'post',
                dataType    : 'json',
                data        : JSON.stringify({'imageIds':$('#imageIds').val()}), //借款人图像类型dataType=1
                success : function(resp) {
                    if(resp.resultCode == '0001'){
                        $.toast("有图片获取失败", "cancel");
                    }else{
                        var src = path+"/special/file/showImg?imageName="

                        $.each(resp.list,function (i,el) {

                            if(el.attachType == 'house'){
                                var temp = el.name.toString();
                                var imageType = temp.substr(temp.indexOf("."));
                                imageType = imageType.substr(1,temp.length);

                                var name = temp.substr(0,temp.indexOf("."));
                                var imageNameTemp = imageType+'_'+name;
                                var tmpl = '<li class="fl weui-uploader__file" id="'+imageNameTemp+'"><img src="' + src+ el.name + '"/></li>';
                                $("#uploaderFiles").append($(tmpl));
                            }
                        });
//                        alert($("#uploaderFiles").html())

                    }
                },
                error : function() {
                    $.toast("有图片上传失败", "cancel");
                    $.hideLoading();
                }
            });
        }

    });



    var borrowerId=[[${borrowerId}]];
    var orderId=[[${orderId}]];

    var wxJsapiSignature=[[${wxJsapiSignature}]];
    var timestamp = wxJsapiSignature.timestamp;
    var nonceStr = wxJsapiSignature.nonceStr;
    var signature = wxJsapiSignature.signature;
    var appId = wxJsapiSignature.appId;
    wx.config({
        debug: false,
        appId: appId,
        timestamp: timestamp,
        nonceStr: nonceStr,
        signature: signature,
        jsApiList: [
            "chooseImage",
            "previewImage",
            "uploadImage",
            "downloadImage",
            "getLocalImgData"
        ]
    });

    function uploadPropertyImg() {
        wx.chooseImage({
            count: 9,
            sizeType: ['original', 'compressed'],
            sourceType: ['album', 'camera'],
            success: function (res) {
                var localIds = res.localIds;
                syncUpload(localIds);
            }
        });
    }

    // 解决ios 图片上传不成功问题
    function getLocalImgData(localId,serverId,imageNameTemp){
        wx.getLocalImgData({
            localId: localId, // 图片的localID
            success: function (res) {
                var src = res.localData; // localData是图片的base64数据，可以用img标签显示
                var tmpl = '<li class="fl weui-uploader__file" id="'+imageNameTemp+'"><img src="' + src + '"/></li>';
                $("#uploaderFiles").append($(tmpl));
            }
        });
    }

    var firstUploadFlag=true;
    function syncUpload(localIds) {
        if(firstUploadFlag) $.showLoading("上传中!");
        var localId = localIds.pop();
        wx.uploadImage({
            localId: localId,
            isShowProgressTips: 0,
            success: function (res) {
                var serverId = res.serverId;

                var src = localId;

                var data={};
                data.src=src;
                data.imageType="";
                data.dataType="house";
                data.orderId=orderId;
                data.custId=borrowerId;
                data.serverId=serverId;
                firstUploadFlag=false;
                $.ajax({
                    url : path+"/special/file/saveFileInfo",
                    contentType : "application/json; charset=utf-8",
                    type        : 'post',
                    dataType    : 'json',
                    data        : JSON.stringify(data), //借款人图像类型dataType=1
                    success : function(res) {

                        if(res.resultCode == '0001'){
                            $.toast("有图片上传失败", "cancel");
                        }else{
//                            "inline.jpg".substr(0,"inline.jpg".indexOf(".jpg"))
//                            "name":"1514200625051","imageType":".jpg"
//                            alert(res.imageType+"=="+res.name+"==");
                            var temp = res.imageName.toString();
                            var imageType = temp.substr(temp.indexOf("."));
                            imageType = imageType.substr(1,temp.length);

                            var name = temp.substr(0,temp.indexOf("."));
                            var serverSrc = "/special/file/showImg?imageName="+res.imageName;
                            var imageNameTemp = imageType+'_'+name;
//                            alert(imageType+"=="+name+"=="+imageNameTemp)
                            if(isIphone()){
                                getLocalImgData(localId,serverId,imageNameTemp);
                            }else{
                                var tmpl = '<li class="fl weui-uploader__file" id="'+imageNameTemp+'"><img src="' + src + '"/></li>';
                                $("#uploaderFiles").append($(tmpl));
                            }
                            var images = $('#imageIds').attr('value');

                            if(images) images =images+','+res.imageId;
                            else images = res.imageId;
                            $('#imageIds').attr('value',images);
                        }
                    },
                    error : function() {
                        $.toast("有图片上传失败", "cancel");
                    }
                });
                if(localIds.length > 0){
                    syncUpload(localIds,"1");
                }else{
                    firstUploadFlag=true;
                    $.hideLoading();
                }
            }
        });
    }
    
    function isIphone(){
        var ua = navigator.userAgent.toLowerCase();
        if (/iphone/.test(ua)) {
           return true
        } else if (/android/.test(ua)) {
           return false;
        }
    }
    
    $("li").on('click', 'span', function(e){
        var target = e.target.parent()
        $.confirm('确定删除该图片？', function () {
            target.remove();
            gallery.hide();
        });
    })

//  图片预览
    $("#uploaderFiles").on("click", "li", function(e) {
//        alert($("#uploaderFiles").html())
//        alert($(this).text())
        var imageName = $(this).attr('id');
        var type = imageName.toString().substr(0,imageName.toString().indexOf("_")+1);
        var name = imageName.toString().substr(imageName.toString().indexOf("_")+1);
        var imageNameTemp = name +'.'+type.substr(0,type.indexOf("_"));
        $('#imageUrl').css("background-image","url('"+path+"/special/file/showImg?imageName="+imageNameTemp+"')");
        $('#imageDel').attr("onclick","deleteImage('"+imageName+"','"+imageNameTemp+"')");
        $('#imagePreview').css("display","block");

    });
//图片删除
    $("#imageUrl").click(function () {
        $("#imageUrl").removeAttr("style");
        $('#imagePreview').css("display","none");
    });

    function deleteImage(imageId,imageName){
//        alert(imageName)
//        alert($('#'+imageName).html() +'----'+$('#'+imageName).length)
        $.confirm({
            title: '提示',
            content: '确定删除该图片？',
            onOK: function(){
                if (imageName.length>1 ){
                    var loadData ={}


                    loadData.imageName=imageName;
                    loadData.imageIds = $('#imageIds').attr('value');
                    $.ajax({
                        url : path+'/special/file/deleteImage',
                        contentType : "application/json; charset=utf-8",
                        type        : 'post',
                        dataType    : 'json',
                        data        : JSON.stringify(loadData),
                        success : function(data) {
                            if((data && data.resultMsg && data.resultCode =='0001')){
                                $.alert(data.resultMsg);
                            }

                            if(data && data.resultCode =='0000'){
                                var imageIds = $('#imageIds').attr('value');
                                imageIds.replace(','+data.imageId,'').replace(data.imageId+',','');
                                $('#imageIds').attr('value',imageIds);

                                $('#'+imageId).remove();

                                $("#imageUrl").removeAttr("style");
                                $("#imageDel").removeAttr("onclick");
                                $('#imagePreview').css("display","none");
                            }

                        },
                        error : function() {
                            alert("影像删除失败！");
                        }
                    });
                }else{
                    alert("影像删除失败！");
                }
            },
            onCancel: function(){
                $("#imageUrl").removeAttr("style");
                $("#imageDel").removeAttr("onclick");
                $('#imagePreview').css("display","none");
            }
        });

//        $.confirm('确定删除该图片？', function () {
//
//
//        });
    }
    
//    $('#btnCheck').click(function(){
//        var list=$('#uploaderFiles').children('li');
//        if(list == null || list.length == 0){
//            weui.alert("请上传房产证图像");
//            return ;
//        } else {
//            var indexs='';
//            for(var i=0 ;i<list.length;i++){
//                var u =list[i].getAttribute('id');
//                if(i!=list.length-1) indexs+=u+",";
//                if(i==list.length-1) indexs+=u;
//            }
//            var data = {
//                indexs: indexs
//            }
//            $.ajax({
//                type: 'POST',
//                dataType    : 'json',
//                url: path+'/order/submitOrder',
//                data:data,
//                success: function(ret){
//                },
//                error: function(xhr, type){
//                    weui.alert('系统繁忙，稍后再试!')
//                }
//            });
//        }
//    });

    $("#btnCheck").click(function () {
        var loadData ={}
        loadData.borrowerId=borrowerId;
        loadData.orderId=orderId;
        loadData.imageIds=$('#imageIds').attr('value');
        if (loadData.imageIds==null|| loadData.imageIds.length<1){
            $.toast("请上传房产证照片！", 'forbidden');
            return false;
        }
        $.ajax({
            type: 'POST',
            dataType    : 'json',
            contentType : "application/json; charset=utf-8",
            url: path+'/special/debt/addGuarantee',
            data:JSON.stringify(loadData),
            success: function(data){

                if((data && data.resultMsg && data.resultCode =='0001')){
                    $.alert(data.resultMsg);
                }
                if((data && data.resultMsg && data.resultCode =='0002')){
                    $.alert({
                        text: data.resultMsg,
                        onOK: function () {
                            wx.closeWindow()
                        }
                    });
                }
                if(data && data.resultCode =='0000')
                    window.location.href=path+"/special/borrower/isCharged?orderId="+orderId+"&borrowerId="+borrowerId+"&guaranteeId="+data.guaranteeId;
            },
            error: function(xhr, type){
                alert("提交失败");
            }
        });
    });

    /*]]>*/
</script>
</body>
</html>